.Header {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.Logo {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.TextoHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Reservar {
    border: solid;
    color: #a5842e;
    margin-top: 8%;
    padding: 10px 20px;
}

.Correo {
    color: #a5842e;
    margin-top: 8%;
    margin-bottom: 0%;
    margin-right: 20px;
}

.Correo:hover {
    text-decoration: none;
    color: white;
}

.Reservar:hover {
    text-decoration: none;
    color: white;
}

.Derecha {
    float: right;
}

.PortadaPrincipal {
    background: url('../assets/img/bg-principal.jpg') no-repeat center center;
    width: 100%;
    height: 600px;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.Formulario {
    width: 60%;
    height: 320px;
    background-color: #ffffff;
    padding: 10px 25px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.TituloFormulario {
    font-weight: bold;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.Enviar {
    background-color: #a5842e;
    color: white;
    font-weight: bold;
}

.Tratamientos {
    width: 100%;
    height: 600px;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
}

.AjusteCentralPortada {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.AjusteCentral {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.CentradoVertical {
    display: flex;
    align-items: center;
}

.TextoPortada {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Titulo {
    color: #a5842e;
    font-size: 80px;
}

.Parrafo {
    color: white;
    letter-spacing: 3px;
    margin-right: 30%;
}

.TituloTratamiento {
    color: #a5842e;
    text-align: center;
    font-weight: bold;
}

.ParrafoTratamiento {
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

.SubtituloTratamientos {
    color: #a5842e;
    text-align: center;
    font-weight: bold;
}

.DescripcionTratamiento {
    line-height: 25px;
    text-align: center;
    font-size: 120%;
}

.ImagenesTratamietno {
    width: 90%;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-top: 20px;
}

.Animacion {
    -webkit-transition: all 1.9s ease;
    -moz-transition: all 1.9s ease;
    -o-transition: all 1.9s ease;
    -ms-transition: all 1.9s ease;
}

.Animacion:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.QuienesSomos {
    background-image: linear-gradient( rgba(0, 0, 0, 0.883), rgba(0, 0, 0, 0.753)), url('../assets/img/photo-1520473378652-85d9c4aee6cf.jpg');
    width: 100%;
    height: 450px;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.TituloQuienes {
    color: #d8c624;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}

.ParrafoQuienes {
    color: white;
    text-align: center;
    line-height: 30px;
}

.AjusteQuienes {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.owl-dots {
    display: none;
}

.Informacion {
    background-color: #f5f5f5;
    margin-bottom: 60px;
}

.TituloInformacion {
    color: #a5842e;
    font-weight: bold;
}

.ParrafoInformacion {
    color: black;
    text-align: justify;
    line-height: 25px;
    margin-top: 15px;
}

.BotonInformacion {
    text-decoration: none;
    border: solid black;
    padding: 10px 60px;
    color: black;
}

.BotonInformacion:hover {
    border: solid #a5842e;
    color: #a5842e;
    text-decoration: none;
}

.UltimaSeccion {
    margin-top: 150px;
    margin-bottom: 200px;
}

.Imagen {
    width: 100%;
    height: 350px;
    margin-top: 50px;
    margin-bottom: -100px;
}

.TituloUltimaSeccion {
    color: #a5842e;
    font-weight: bold;
    text-align: center;
}

.ParrafoUltimaSeccion {
    color: black;
    text-align: justify;
    line-height: 25px;
    margin-top: 15px;
    text-align: center;
}

.BotonReservar {
    background-color: #a5842e;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 100px;
    text-align: center;
    font-weight: bold;
}

.BotonReservar:hover {
    text-decoration: none;
    color: #ffffffdc;
}

.Footer {
    height: 200px;
    background-color: black;
}

.LogoPie {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.IconosPie {
    width: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.TextoPie {
    color: #a5842e;
    margin-right: 12px;
}